# Machine Learning Algorithms for Predicting Client Churn (Prototype)

> Disclaimer: The data presented here is sensitive and for internal use only

TODO: Description

## How To

## Technologies

- Jupyter Notebooks
- Python3
  - Pandas
 
## Calculate

### Libraries

In [1]:
import pandas as pd

In [2]:
!pip install scipy

Requirement already satisfied: scipy in /Users/dennytemple/dev/_env/data/lib/python3.7/site-packages (1.3.3)
Requirement already satisfied: numpy>=1.13.3 in /Users/dennytemple/dev/_env/data/lib/python3.7/site-packages (from scipy) (1.17.4)

In [3]:
!pip install sklearn

Requirement already satisfied: sklearn in /Users/dennytemple/dev/_env/data/lib/python3.7/site-packages (0.0)
Requirement already satisfied: scikit-learn in /Users/dennytemple/dev/_env/data/lib/python3.7/site-packages (from sklearn) (0.21.3)
Requirement already satisfied: scipy>=0.17.0 in /Users/dennytemple/dev/_env/data/lib/python3.7/site-packages (from scikit-learn->sklearn) (1.3.3)
Requirement already satisfied: joblib>=0.11 in /Users/dennytemple/dev/_env/data/lib/python3.7/site-packages (from scikit-learn->sklearn) (0.14.0)
Requirement already satisfied: numpy>=1.11.0 in /Users/dennytemple/dev/_env/data/lib/python3.7/site-packages (from scikit-learn->sklearn) (1.17.4)

### Data

#### Raw Data

In [4]:
raw_data = pd.read_csv('./datasets/sample-raw-data.csv')

The raw data needs to be "cleaned" before a machine learning algorithm can be performed on it. MUST HAVE steps to be taken are

- Concatenate data based on each unique client
- Remove columns that are clearly not great features choices

Further steps that can be taken:

- Separate "cohorts" based on purchase date, or normalize older and newer clients versus each other
  - Explanation: Because we're trying to predict the likelihood of cancellation, newer clients will naturally (and mistakenly) appear to cancel at a lower rate than older clients; this is because older clients have been given more "opportunity" to cancel
- Convert dates to a simple scalar value
- Convert location addresses to scalar or vector values; i.e., avoid (or be explicit about) basing the prediction on simple population density
- Normalize each scalar value

In [5]:
# Current "dirty" data
raw_data.head(5)

,CHURN_DATE,HEALTH_SCORE,HEALTH_SCORE_UPDATED_DATE,RELATIONSHIP_STRENGTH,SENTIMENT,LAST_ZENDESK_TICKET_DATE,NPS_SCORE,NPS_SCORE_DATE,LAST_LOGIN,IS_EDITED,...,LAUNCH_DATE,PAYMENT_PLAN,FREQUENCY,SUBSCRIPTION_ID,SUBSCRIPTION_ITEM_ID,PRODUCT_ID,PRODUCT_QUANTITY,PRODUCT_PRICE,START_DATE,END_DATE
0,NaN,73.0,2019-11-08 00:31:00.000 +0000,Good,neutral,2019-11-05 19:54:48.000 +0000,10.0,2019-04-29 04:00:00.000 +0000,2019-11-18 05:00:00.000 +0000,True,...,2019-04-15 00:00:00.000 +0000,Monthly,Monthly,sub_E3cpvGPbhWYXL9,si_E3cpsucoXGLgRq,addon_catering_store_monthly,1,139.0,2018-11-28 16:07:31.000 +0000,NaN
1,NaN,73.0,2019-11-08 00:31:00.000 +0000,Good,neutral,2019-11-05 19:54:48.000 +0000,10.0,2019-04-29 04:00:00.000 +0000,2019-11-18 05:00:00.000 +0000,True,...,2019-04-15 00:00:00.000 +0000,Monthly,Monthly,sub_E3cpvGPbhWYXL9,si_E3cpSjCw4yRknW,base_plus_monthly,1,199.0,2018-11-28 16:07:31.000 +0000,NaN
2,NaN,50.0,2019-11-08 00:31:00.000 +0000,Neutral,NaN,NaN,NaN,NaN,2019-11-18 05:00:00.000 +0000,False,...,2016-10-31 00:00:00.000 +0000,Monthly,Monthly,sub_9OtLNjGdGik2ge,si_FkYuZKZWOAhqdC,base_plus_monthly,1,199.0,2019-09-04 19:05:07.000 +0000,NaN
3,NaN,50.0,2019-11-08 00:31:00.000 +0000,Neutral,NaN,NaN,NaN,NaN,2019-11-18 05:00:00.000 +0000,False,...,2016-10-31 00:00:00.000 +0000,Monthly,Monthly,sub_9OtLNjGdGik2ge,si_1965Ys2vS2BuzRKbWsoEErwQ,baby,1,99.0,2016-10-18 21:55:55.000 +0000,2019-09-18 21:55:54.000 -0700
4,NaN,86.0,2019-11-08 00:31:00.000 +0000,Good,neutral,2019-07-29 17:01:59.000 +0000,NaN,NaN,2019-07-24 04:00:00.000 +0000,True,...,2017-10-24 00:00:00.000 +0000,Monthly,Monthly,sub_BGEa6oquQ3Wrhh,si_1Ati6w2vS2BuzRKbP1djq3kT,plus,1,199.0,2017-08-22 19:32:26.000 +0000,NaN

In [6]:
raw_data.count()

CHURN_DATE                           160
HEALTH_SCORE                        4538
HEALTH_SCORE_UPDATED_DATE           4875
RELATIONSHIP_STRENGTH               4993
SENTIMENT                           1778
LAST_ZENDESK_TICKET_DATE            2404
NPS_SCORE                            950
NPS_SCORE_DATE                       942
LAST_LOGIN                          4919
IS_EDITED                           5814
IS_DELINQUENT                       5814
IS_CONCEPT                          5814
NUMBER_OF_CONCEPTS                  2442
NUMBER_OF_LOCATIONS                 5636
ANNUAL_REVENUE                      4954
ANNUAL_HOSPITALITY_GROUP_REVENUE    5814
PARTNERSHIP                         1878
BILLING_CITY                        5795
BILLING_COUNTRY                     5810
BILLING_STATE                       5777
BUSINESS_MARKET                     4115
BUSINESS_TYPE                       5793
SERVICE_STYLE                       5790
NEW_OR_EXISTING                     5790
CUISINE                             5792
INTERESTED_IN_CATERING_STORE        5814
INTERESTED_IN_ECOMMERCE             5814
INTERESTED_IN_GIFT_CARDS            5814
INTERESTED_IN_MENU_MANAGEMENT       5814
INTERESTED_IN_MOBILE_WEB            5814
INTERESTED_IN_SEO                   5814
CREATED_DATE                        5814
CUSTOMER_SINCE                      5804
CUSTOMER_WON_DATE                   5804
DATE_OF_FIRST_OPPORTUNITY           5814
LAST_EDIT                           4185
LAUNCH_DATE                         4644
PAYMENT_PLAN                        5531
FREQUENCY                           5814
SUBSCRIPTION_ID                     5814
SUBSCRIPTION_ITEM_ID                5804
PRODUCT_ID                          5814
PRODUCT_QUANTITY                    5814
PRODUCT_PRICE                       5814
START_DATE                          5814
END_DATE                             406
dtype: int64

#### Filtered columns

The following dataset concatenates duplicate clients and filters in only the columns we'll use for prototype.

In a live environment, these actions can be performed programmatically.

In [7]:
filtered_data = pd.read_csv('./datasets/sample-filtered-data.csv')

In [8]:
filtered_data.head(5)

,SUBSCRIPTION_ID,RELATIONSHIP_STRENGTH,SENTIMENT,NPS_SCORE,IS_DELINQUENT,NUMBER_OF_LOCATIONS,ANNUAL_REVENUE,PARTNERSHIP,BILLING_CITY,BUSINESS_TYPE,CUISINE,PAYMENT_PLAN,CHURN_DATE
0,sub_E3cpvGPbhWYXL9,Good,neutral,10.0,False,1.0,4056.0,NaN,Philadelphia,Restaurant,American (Traditional),Monthly,NaN
1,sub_9OtLNjGdGik2ge,Neutral,NaN,NaN,False,1.0,1188.0,NaN,New York,Restaurant,American (New),Monthly,NaN
2,sub_BGEa6oquQ3Wrhh,Good,neutral,NaN,False,1.0,1908.0,US Foods,South Bend,Restaurant,American (Traditional),Monthly,NaN
3,sub_EtPCVOt1zlHjQj,Good,NaN,NaN,False,1.0,1188.0,US Foods,Walhalla,Restaurant,"[""Diner"",""Sandwiches"",""American"",""Frozen Yogur...",NaN,NaN
4,sub_EWvgOoZikMZEzh,Neutral,neutral,NaN,False,3.0,2388.0,NaN,Vancouver,Restaurant,Other,Monthly,NaN

In [9]:
filtered_data.count()

SUBSCRIPTION_ID          4638
RELATIONSHIP_STRENGTH    4019
SENTIMENT                1363
NPS_SCORE                 731
IS_DELINQUENT            4638
NUMBER_OF_LOCATIONS      4498
ANNUAL_REVENUE           3972
PARTNERSHIP              1645
BILLING_CITY             4621
BUSINESS_TYPE            4621
CUISINE                  4619
PAYMENT_PLAN             4473
CHURN_DATE                 96
dtype: int64

#### Further cleaning

In [10]:
current_data = pd.DataFrame(filtered_data).copy(deep=True)

In [11]:
# Show column names
print(current_data.columns.values)

['SUBSCRIPTION_ID' 'RELATIONSHIP_STRENGTH' 'SENTIMENT' 'NPS_SCORE'
 'IS_DELINQUENT' 'NUMBER_OF_LOCATIONS' 'ANNUAL_REVENUE' 'PARTNERSHIP'
 'BILLING_CITY' 'BUSINESS_TYPE' 'CUISINE' 'PAYMENT_PLAN' 'CHURN_DATE']

##### Handle string transformations

In [12]:
import re

In [13]:
def clean_string(x):
    def convert_letters(x):
        subbed_commas = re.sub(',', ' ', x)
        subbed_non_alpha = re.sub(r'([^\s\w]|_)+', '', subbed_commas)
        return subbed_non_alpha

    if isinstance(x, str):
        return convert_letters(x).strip().lower()
    
    return x

In [14]:
def clean_and_get_first_two_words(x):
    if isinstance(x, str):
        splitted = clean_string(x).split()

        first = splitted[0]

        try:
            second = splitted[1]
            return '{} {}'.format(first, second)
        except:
            return first
    
    return x

In [15]:
current_data['BILLING_CITY'] = current_data['BILLING_CITY'].apply(clean_string)

In [16]:
current_data['BUSINESS_TYPE'] = current_data['BUSINESS_TYPE'].apply(clean_and_get_first_two_words)

In [17]:
current_data['CUISINE'] = current_data['CUISINE'].apply(clean_and_get_first_two_words)

##### Handle the "feelings" columns

In [18]:
def handle_feelings(x):
    cleaned = clean_string(x)
    if cleaned == 'good' or cleaned == 'positive':
        return 1
    if cleaned == 'neutral':
        return 0
    if cleaned == 'bad' or cleaned == 'negative':
        return -1
    return None

In [19]:
current_data['RELATIONSHIP_STRENGTH'] = current_data['RELATIONSHIP_STRENGTH'].apply(handle_feelings)

In [20]:
current_data['SENTIMENT'] = current_data['SENTIMENT'].apply(handle_feelings)

##### Normalize the scalar columns

In [21]:
def normalize(df):
    return (df - df.mean()) / df.std()

In [22]:
current_data['NPS_SCORE'] = normalize(current_data['NPS_SCORE'])

In [23]:
current_data['NUMBER_OF_LOCATIONS'] = normalize(current_data['NUMBER_OF_LOCATIONS'])

In [24]:
current_data['ANNUAL_REVENUE'] = normalize(current_data['ANNUAL_REVENUE'])

##### Handle misc transformations

In [25]:
# Inverting the following value, so as to remain parallel with the other colums' "Higher == Good, Lower == Bad" theme
current_data = current_data.rename(columns={'IS_DELINQUENT': 'IS_CURRENT'})

In [26]:
def handle_bools(x):
    if x == True:
        return 1
    if x == False:
        return 0
    return x

In [27]:
current_data['IS_CURRENT'] = current_data['IS_CURRENT'].apply(handle_bools)

##### Handle the prediction value

In [28]:
# Because we're running a regression, we need to convert "churn date" to likelihood of cancellation", 
#     i.e. a percentage value
# Also, because most of the feature values are "Higher == Good, Lower == Bad", we should invert this
#     field as well
current_data = current_data.rename(columns={'CHURN_DATE': 'HAPPINESS_SCORE'})

In [29]:
def handle_churn_date(x):
    if pd.isnull(x):
        return 1
    return 0

In [30]:
current_data['HAPPINESS_SCORE'] = current_data['HAPPINESS_SCORE'].apply(handle_churn_date)

#### Final Dataset to process

In [31]:
dataset = pd.DataFrame(current_data).copy(deep=True)

In [32]:
dataset.head(20)

,SUBSCRIPTION_ID,RELATIONSHIP_STRENGTH,SENTIMENT,NPS_SCORE,IS_CURRENT,NUMBER_OF_LOCATIONS,ANNUAL_REVENUE,PARTNERSHIP,BILLING_CITY,BUSINESS_TYPE,CUISINE,PAYMENT_PLAN,HAPPINESS_SCORE
0,sub_E3cpvGPbhWYXL9,1.0,0.0,0.650948,0,-0.249050,1.811271,NaN,philadelphia,restaurant,american traditional,Monthly,1
1,sub_9OtLNjGdGik2ge,0.0,NaN,NaN,0,-0.249050,-0.750732,NaN,new york,restaurant,american new,Monthly,1
2,sub_BGEa6oquQ3Wrhh,1.0,0.0,NaN,0,-0.249050,-0.107551,US Foods,south bend,restaurant,american traditional,Monthly,1
3,sub_EtPCVOt1zlHjQj,1.0,NaN,NaN,0,-0.249050,-0.750732,US Foods,walhalla,restaurant,diner sandwiches,NaN,1
4,sub_EWvgOoZikMZEzh,0.0,0.0,NaN,0,0.715830,0.321236,NaN,vancouver,restaurant,other,Monthly,1
5,sub_EgwBwXpHj64O6R,0.0,NaN,NaN,0,-0.249050,-0.536338,NaN,new york,cafe coffee,coffee,Monthly,1
6,sub_FhBj27mUBprBSg,NaN,NaN,NaN,0,-0.249050,NaN,NaN,new york,restaurant,italian,Monthly,1
7,sub_BIRAE1fhw3vOik,0.0,0.0,-0.479321,0,0.233390,0.321236,NaN,new york,restaurant,indian,Monthly,1
8,sub_FfKXlQDZ752qdG,NaN,NaN,NaN,0,-0.249050,NaN,NaN,palm beach gardens,restaurant,american new,Monthly,1
9,sub_CRJ19VfmL5c6k9,0.0,NaN,NaN,0,-0.249050,-0.107551,US Foods,champaign,restaurant,other,Monthly,1
10,sub_FFWGzbh576U3v6,0.0,0.0,0.650948,0,-0.249050,0.321236,NaN,port chester,restaurant,seafood,Monthly,1
11,sub_DGZc7PFYJjOkEV,0.0,0.0,NaN,0,-0.249050,0.846500,NaN,san francisco,restaurant,italian,Monthly,1
12,sub_BFmggZn0ku3yME,0.0,NaN,NaN,0,3.128029,2.250778,US Foods,rolling meadows,catering,american traditional,Monthly,1
13,sub_80jo47uci3J4xi,0.0,0.0,-1.609589,0,-0.249050,0.321236,NaN,new york,restaurant,italian,Monthly,1
14,sub_EZt2TdmtqJhpZz,0.0,1.0,-1.232833,0,2.163149,1.811271,NaN,los angeles,restaurant,mexican,Monthly,0
15,sub_DvpyxCavtec2P6,1.0,NaN,0.650948,0,-0.249050,0.321236,NaN,philadelphia,brewery winery,burgers,Monthly,1
16,sub_ELoN915zTsNZme,0.0,0.0,NaN,0,1.198270,0.321236,NaN,westborough,restaurant,indian asian,Monthly,1
17,sub_GAjOITcqx0hAL9,NaN,NaN,NaN,0,-0.249050,NaN,NaN,royal palm beach,brewery winery,american new,Monthly,1
18,sub_8tkQGZCvUFBhzR,1.0,NaN,NaN,0,-0.249050,-0.750732,NaN,boston,bar,american traditional,Monthly,1
19,sub_FPui0rKYmn2vlE,NaN,NaN,0.650948,0,-0.249050,0.321236,NaN,swansea,restaurant,barbecue,Monthly,1