# Machine Learning Algorithms for Predicting Client Churn (Prototype)

> Disclaimer: The data presented here is sensitive and for internal use only

TODO: Description

## How To

## Technologies

- Jupyter Notebooks
- Python3
  - Pandas

In [1]:
import pandas as pd

In [2]:
import pprint

In [3]:
raw_data = pd.read_csv('./datasets/2019-11-19.csv')

The raw data needs to be "cleaned" before a machine learning algorithm can be performed on it. The major steps that should be taken here are:

- Combine each unique client's data into a single row (the raw data currently duplicates each client based on certain column matches)
- Remove columns that are clearly poor features choices for a machine learning algorithm
- Convert dates to a simple scalar value
- Convert `NaN` to empty values
- Convert the location addresses to scalar or vector values that won't reflect simple population density
- Normalize each remaining scalar and vector values

In [4]:
# Current "dirty" data
raw_data.head(5)

,CHURN_DATE,HEALTH_SCORE,HEALTH_SCORE_UPDATED_DATE,RELATIONSHIP_STRENGTH,SENTIMENT,LAST_ZENDESK_TICKET_DATE,NPS_SCORE,NPS_SCORE_DATE,LAST_LOGIN,IS_EDITED,...,LAUNCH_DATE,PAYMENT_PLAN,FREQUENCY,SUBSCRIPTION_ID,SUBSCRIPTION_ITEM_ID,PRODUCT_ID,PRODUCT_QUANTITY,PRODUCT_PRICE,START_DATE,END_DATE
0,NaN,73.0,2019-11-08 00:31:00.000 +0000,Good,neutral,2019-11-05 19:54:48.000 +0000,10.0,2019-04-29 04:00:00.000 +0000,2019-11-18 05:00:00.000 +0000,True,...,2019-04-15 00:00:00.000 +0000,Monthly,Monthly,sub_E3cpvGPbhWYXL9,si_E3cpsucoXGLgRq,addon_catering_store_monthly,1,139.0,2018-11-28 16:07:31.000 +0000,NaN
1,NaN,73.0,2019-11-08 00:31:00.000 +0000,Good,neutral,2019-11-05 19:54:48.000 +0000,10.0,2019-04-29 04:00:00.000 +0000,2019-11-18 05:00:00.000 +0000,True,...,2019-04-15 00:00:00.000 +0000,Monthly,Monthly,sub_E3cpvGPbhWYXL9,si_E3cpSjCw4yRknW,base_plus_monthly,1,199.0,2018-11-28 16:07:31.000 +0000,NaN
2,NaN,50.0,2019-11-08 00:31:00.000 +0000,Neutral,NaN,NaN,NaN,NaN,2019-11-18 05:00:00.000 +0000,False,...,2016-10-31 00:00:00.000 +0000,Monthly,Monthly,sub_9OtLNjGdGik2ge,si_FkYuZKZWOAhqdC,base_plus_monthly,1,199.0,2019-09-04 19:05:07.000 +0000,NaN
3,NaN,50.0,2019-11-08 00:31:00.000 +0000,Neutral,NaN,NaN,NaN,NaN,2019-11-18 05:00:00.000 +0000,False,...,2016-10-31 00:00:00.000 +0000,Monthly,Monthly,sub_9OtLNjGdGik2ge,si_1965Ys2vS2BuzRKbWsoEErwQ,baby,1,99.0,2016-10-18 21:55:55.000 +0000,2019-09-18 21:55:54.000 -0700
4,NaN,86.0,2019-11-08 00:31:00.000 +0000,Good,neutral,2019-07-29 17:01:59.000 +0000,NaN,NaN,2019-07-24 04:00:00.000 +0000,True,...,2017-10-24 00:00:00.000 +0000,Monthly,Monthly,sub_BGEa6oquQ3Wrhh,si_1Ati6w2vS2BuzRKbP1djq3kT,plus,1,199.0,2017-08-22 19:32:26.000 +0000,NaN

In [5]:
# Current column counts
raw_data.count()

CHURN_DATE                           160
HEALTH_SCORE                        4538
HEALTH_SCORE_UPDATED_DATE           4875
RELATIONSHIP_STRENGTH               4993
SENTIMENT                           1778
LAST_ZENDESK_TICKET_DATE            2404
NPS_SCORE                            950
NPS_SCORE_DATE                       942
LAST_LOGIN                          4919
IS_EDITED                           5814
IS_DELINQUENT                       5814
IS_CONCEPT                          5814
NUMBER_OF_CONCEPTS                  2442
NUMBER_OF_LOCATIONS                 5636
ANNUAL_REVENUE                      4954
ANNUAL_HOSPITALITY_GROUP_REVENUE    5814
PARTNERSHIP                         1878
BILLING_CITY                        5795
BILLING_COUNTRY                     5810
BILLING_STATE                       5777
BUSINESS_MARKET                     4115
BUSINESS_TYPE                       5793
SERVICE_STYLE                       5790
NEW_OR_EXISTING                     5790
CUISINE                             5792
INTERESTED_IN_CATERING_STORE        5814
INTERESTED_IN_ECOMMERCE             5814
INTERESTED_IN_GIFT_CARDS            5814
INTERESTED_IN_MENU_MANAGEMENT       5814
INTERESTED_IN_MOBILE_WEB            5814
INTERESTED_IN_SEO                   5814
CREATED_DATE                        5814
CUSTOMER_SINCE                      5804
CUSTOMER_WON_DATE                   5804
DATE_OF_FIRST_OPPORTUNITY           5814
LAST_EDIT                           4185
LAUNCH_DATE                         4644
PAYMENT_PLAN                        5531
FREQUENCY                           5814
SUBSCRIPTION_ID                     5814
SUBSCRIPTION_ITEM_ID                5804
PRODUCT_ID                          5814
PRODUCT_QUANTITY                    5814
PRODUCT_PRICE                       5814
START_DATE                          5814
END_DATE                             406
dtype: int64

In [6]:
dataset = pd.DataFrame({'SUBSCRIPTION_ID': raw_data.SUBSCRIPTION_ID.unique()})

In [7]:
dataset.count()

SUBSCRIPTION_ID    4638
dtype: int64